---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import logo from '../images/logodefinitivo.webp'
import fondo from '../images/fondo.webp'
import {espacios} from '../const/navegacion.ts'
import Anchor from '../components/Anchor.astro';
---

<Layout title="NBA vibra">
	<main class="py-0 min-w-full min-h-screen flex flex-col items-center justify-center relative overflow-hidden " >
		<header id="anchor-inicio" class="min-w-full min-h-screen flex flex-row items-center justify-center relative overflow-hidden p-0">
			<nav >
				<ul class="flex font-semibold gap-10 text-3xl items-center justify-center py-2 fixed inset-x-0 top-0 z-30">
					<Anchor href='inicio'>Inicio</Anchor>
					<Anchor href='espacios'>Espacios</Anchor>
					<Anchor href='informacion'>Información</Anchor>
				</ul>
			</nav>
		<Image src={logo} alt="logo de NBA Vibra"/>
		<Image  class="absolute -z-10 opacity-25  h-full object-cover"src={fondo} alt="fondo de NBA Vibra"/>
		</header>
		<section id="anchor-espacios" class="flex flex-row flex-wrap gap-7 justify-center pt-4 pb-10">
			{espacios.map(({img, href, name}) => {
				return (
					<a class="relative flex items-center justify-center h-[280px] w-[500px]" href={href}>
						<Image src={img} alt={`logo de ${name}`} class="object-cover h-[280px] w-[500px]" title={name}/>
						<div class="text-cyan-900 opacity-0 hover:opacity-100 duration-300 bg-white hover:bg-opacity-70 absolute inset-0 z-10 flex justify-center items-center text-5xl font-semibold">{name}</div>
					</a>
					)
			})}
		</section>

		<footer id="anchor-informacion" class="bg-black w-screen overflow-hidden">
			<hr class="h-px bg-transparent border-t-0 opacity-100 bg-gradient-to-r from-transparent via-neutral-100 to-transparent dark:bg-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-neutral-100 dark:to-transparent" />
			<div class="py-10 flex flex-row justify-center gap-20 ">
			<a
      href={`tel:+34 685 999 706`}
      class="text-mobile md:text-base flex gap-1 md:gap-2 text-slate-100 items-center"
			target="_blank"
			rel="nooperer noreferrer"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 30 30"
        fill="currentColor"
        class="w-3 h-3 md:w-6 md:h-6"
      >
        <path
          fill-rule="evenodd"
          d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
        />
      </svg>
      685 999 706
    </a>
		<a
		href={`mailto:nbavibra23@gmail.com`}
		class="text-mobile md:text-base flex gap-1 md:gap-2 w-fit text-slate-100 items-center"
		target="_blank"
		rel="nooperer noreferrer"
	>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 24 24"
			fill="currentColor"
			class="w-3 h-3 md:w-6 md:h-6"
		>
			<path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
			<path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
		</svg>
		nbavibra23@gmail.com
	</a>
	<a
	href="https://www.instagram.com/nba/"
	class="flex text-mobile md:text-base items-center gap-1 md:gap-2 text-slate-100"
	target="_blank"
	rel="nooperer noreferrer"
>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		fill="currentColor"
		class="w-3 h-3 md:w-6 md:h-6"
		viewBox="0 0 16 16"
	>
		<path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334" />
	</svg>
	@nba
</a>
</div>
		</footer>
	</main>
</Layout>




