---

import { Image } from "astro:assets";
import { equipos, players } from "../../../const/navegacion";
import Layout from "../../../layouts/Layout.astro";
import logoEquipos from "../../../images/logoequipos.webp";
import BackHome from "../../../components/BackHome.astro";
export function getStaticPaths() {
  return equipos.map(({name}) => ({params: {Equipo: name}}));
}
console.log( players.map(({nombreCompleto, equipo}) => ({params: {Jugador: nombreCompleto, Equipo: equipo}})))
const {Equipo} = Astro.params;

const filterEquipo = equipos.find(({name}) => name === Equipo)
const filterPlayers = players.filter(({equipo}) => equipo.toLowerCase() === Equipo.toLowerCase())
const img = filterEquipo?.logo ?? logoEquipos

---

<Layout title={Equipo}>
  <header class="flex flex-col items-center justify-center gap-4 p-10 relative">
    <BackHome href=`/Jugadores`/>
    <h1 class="text-3xl font-semibold">{Equipo}</h1>
    <Image class="size-32 object-contain" src={img} alt={`logo de el equipo ${Equipo}`}/>
  </header>
  <section class="flex flex-row items-center gap-4 justify-center flex-wrap">
    {filterPlayers?.map(({nombreCompleto, posicion, playerPicture}) => (
      <a href={`/Jugadores/${Equipo}/${nombreCompleto}`} class="rounded-2xl bg-slate-800 justify-center items-center flex flex-col px-4 hover:bg-slate-600 hover:ring-2 hover:ring-cyan-600">
        <p class="text-center pt-4 text-2xl font-bold">{`${nombreCompleto}`}</p>
        <p class="text-center font-semibold text-1xl">{`${posicion}`}</p>
        <img class="w-44 h-auto object-contain rounded-2xl" src={playerPicture}/>
      </a>))}
  </section>
  
</Layout>
