---
import Layout from "../../layouts/Layout.astro";
import PlayoffFace from "../../components/PlayoffFace.astro"

const playoffEast = [
  {
    team1: "Milwaukee Bucks",
    team2: "Miami Heat",
    resultTeam1: 1, resultTeam2: 8 ,
    games: [
      { gameNumber: 1, resultTeam1: "Bucks 117", resultTeam2: "130 Heat (0-1)" },
      { gameNumber: 2, resultTeam1: "Bucks 138", resultTeam2: "122 Heat (1-1)" },
      { gameNumber: 3, resultTeam1: "Heat 121", resultTeam2: "99 Bucks (2-1)" },
      { gameNumber: 4, resultTeam1: "Heat 119", resultTeam2: "114 Bucks (3-1)" },
      { gameNumber: 5, resultTeam1: "Bucks 126", resultTeam2: "128 Heat (1-4)" }
    ]
  },
  {
    team1: "Cleveland Cavaliers",
    team2: "New York Knicks",
    resultTeam1: 4, resultTeam2: 5 ,
    games: [
      { gameNumber: 1, resultTeam1: "Cavaliers 97", resultTeam2: "101 Knicks (0-1)" },
      { gameNumber: 2, resultTeam1: "Cavaliers 107", resultTeam2: "90 Knicks (1-1)" },
      { gameNumber: 3, resultTeam1: "Knicks 99", resultTeam2: "79 Cavaliers (2-1)" },
      { gameNumber: 4, resultTeam1: "Knicks 102", resultTeam2: "93 Cavaliers (3-1)" },
      { gameNumber: 5, resultTeam1: "Cavaliers 95", resultTeam2: "106 Knicks (1-4)" }
    ]
  },
  {
    team1: "Philadelphia 76ers",
    team2: "Brooklyn Nets",
    resultTeam1: 3, resultTeam2: 6 ,
    games: [
      { gameNumber: 1, resultTeam1: "76ers 121", resultTeam2: "101 Nets (1-0)" },
      { gameNumber: 2, resultTeam1: "76ers 96", resultTeam2: "84 Nets (2-0)" },
      { gameNumber: 3, resultTeam1: "Nets 97", resultTeam2: "102 76ers (0-3)" },
      { gameNumber: 4, resultTeam1: "Nets 88", resultTeam2: "96 76ers (0-4)" }
    ]
  },
  {
    team1: "Boston Celtics",
    team2: "Atlanta Hawks",
    resultTeam1: 2, resultTeam2: 7 ,
    games: [
      { gameNumber: 1, resultTeam1: "Celtics 112", resultTeam2: "99 Hawks (1-0)" },
      { gameNumber: 2, resultTeam1: "Celtics 119", resultTeam2: "106 Hawks (2-0)" },
      { gameNumber: 3, resultTeam1: "Hawks 130", resultTeam2: "122 Celtics (1-2)" },
      { gameNumber: 4, resultTeam1: "Hawks 121", resultTeam2: "129 Celtics (1-3)" },
      { gameNumber: 5, resultTeam1: "Celtics 117", resultTeam2: "119 Hawks (2-3)" },
      { gameNumber: 6, resultTeam1: "Hawks 120", resultTeam2: "128 Celtics (2-4)" }
    ]
  },
  
];

const playoffWest = [
{
    team1: "Denver Nuggets",
    team2: "Minnesota Timberwolves",
    resultTeam1: 1, resultTeam2: 8 ,
    games: [
      { gameNumber: 1, resultTeam1: "Nuggets 109", resultTeam2: "80 Wolves (1-0)" },
      { gameNumber: 2, resultTeam1: "Nuggets 122", resultTeam2: "113 Wolves (2-0)" },
      { gameNumber: 3, resultTeam1: "Wolves 111", resultTeam2: "120 Nuggets (0-3)" },
      { gameNumber: 4, resultTeam1: "Wolves 114", resultTeam2: "108 Nuggets (1-3)" },
      { gameNumber: 5, resultTeam1: "Nuggets 112", resultTeam2: "109 Wolves (1-4)" }
    ]
  },
  {
    team1: "Phoenix Suns",
    team2: "Los Angeles Clippers",
    resultTeam1: 4, resultTeam2: 5 ,
    games: [
      { gameNumber: 1, resultTeam1: "Suns 110", resultTeam2: "115 Clippers (0-1)" },
      { gameNumber: 2, resultTeam1: "Suns 123", resultTeam2: "109 Clippers (1-1)" },
      { gameNumber: 3, resultTeam1: "Clippers 124", resultTeam2: "129 Suns (1-2)" },
      { gameNumber: 4, resultTeam1: "Clippers 100", resultTeam2: "112 Suns (1-3)" },
      { gameNumber: 5, resultTeam1: "Suns 136", resultTeam2: "130 Clippers (1-4)" }
    ]
  },
  {
    team1: "Sacramento Kings",
    team2: "Golden State Warriors",
    resultTeam1: 3, resultTeam2: 6 ,
    games: [
      { gameNumber: 1, resultTeam1: "Kings 126", resultTeam2: "123 Warriors (1-0)" },
      { gameNumber: 2, resultTeam1: "Kings 114", resultTeam2: "106 Warriors (2-0)" },
      { gameNumber: 3, resultTeam1: "Warriors 114", resultTeam2: "97 Kings (1-2)" },
      { gameNumber: 4, resultTeam1: "Warriors 126", resultTeam2: "125 Kings (2-2)" },
      { gameNumber: 5, resultTeam1: "Kings 116", resultTeam2: "123 Warriors (2-3)" },
      { gameNumber: 6, resultTeam1: "Warriors 99", resultTeam2: "118 Kings (3-3)" },
      { gameNumber: 7, resultTeam1: "Kings 100", resultTeam2: "120 Warriors (3-4)" }
    ]
  },
  {
    team1: "Memphis Grizzlies",
    team2: "Los Angeles Lakers",
    resultTeam1: 2, 
    resultTeam2: 7,
    games: [
      { gameNumber: 1, resultTeam1: "Grizzlies 112", resultTeam2: "128 Lakers (0-1)" },
      { gameNumber: 2, resultTeam1: "Grizzlies 103", resultTeam2: "93 Lakers (1-1)" },
      { gameNumber: 3, resultTeam1: "Lakers 111", resultTeam2: "101 Grizzlies (2-1)" },
      { gameNumber: 4, resultTeam1: "Lakers 117", resultTeam2: "111 Grizzlies (3-1)" },
      { gameNumber: 5, resultTeam1: "Grizzlies 116", resultTeam2: "99 Lakers (2-3)" },
      { gameNumber: 6, resultTeam1: "Lakers 125", resultTeam2: "85 Grizzlies (4-2)" }
    ]
  }
]
---
<Layout title="Primera Ronda Eliminatoria">
  <header class="relative">
    <a href="/Resultados" class="p-4 absolute left-0 top-0 ">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
      </svg>
    </a>
    <h1 class="text-5xl font-semibold text-center pb-10 pt-2">Resultados de la Primera Ronda Eliminatoria</h1>
  </header>
  <main class="grid grid-cols-2">
    <section class="flex flex-col flex-wrap gap-4 justify-start items-center">
      <p class="justify-center flex text-3xl capitalize">ESTE</p>
      {playoffEast.map(({team1, team2, resultTeam1, resultTeam2, games}) => (
        <PlayoffFace team1={team1} team2={team2} resultTeam1={resultTeam1} resultTeam2={resultTeam2} games={games}/>
      ))}
    </section>
    <section class="flex flex-col flex-wrap gap-4 justify-start items-center">
      <p class="justify-center flex text-3xl capitalize">OESTE</p>
      {playoffWest.map(({team1, team2, resultTeam1, resultTeam2, games}) => (
         <PlayoffFace team1={team1} team2={team2} resultTeam1={resultTeam1} resultTeam2={resultTeam2} games={games} />
      ))}
    </section>
  </main>
</Layout> 